# Global settings
cache-dir = "~/.cache/ruff"
line-length = 120
show-fixes = true

# Lint settings
[lint]
select = [
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "W",   # pycodestyle warnings
    "I",   # isort
    "N",   # pep8-naming
    "UP",  # pyupgrade
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
    "DTZ", # flake8-datetimez
    "T20", # flake8-print
    "SIM", # flake8-simplify
    "PT",  # flake8-pytest-style
    "PL",  # pylint
    "PLE", # pylint errors
    "PLR", # pylint refactoring
    "PLW", # pylint warnings
    "D",   # pydocstyle
    "ANN", # flake8-annotations
]

ignore = [
    "D100", # Missing docstring in public module
    "D101", # Missing docstring in public class
    "D103", # Missing docstring in public function
    "D102", # Missing docstring in public method
    "D104", # Missing docstring in public package
    "D106", # Missing docstring in public nested class
    "D107", # Missing docstring in __init__
    "N805", # First argument of a method should be named 'self'
    "N818", # Exception name should be named with an Error suffix
    "B007", # Loop control variable `process_time` not used within loop body
    "B008", # Do not perform function calls in argument defaults
    "B904", # Within an `except` clause, raise exceptions with `raise ... from err`
    "PLR0912", # Too many branches
    "PLR0913", # Too many arguments
    "PLR0915", # Too many statements
    "PLR2004", # Magic value used in comparison
    "PT001", # Use `@pytest.fixture()` over `@pytest.fixture`
    "PT023", # `@pytest.fixture` without value is not allowed
    "D415", # First line should end with a period, question mark, or exclamation point
    "D205", # 1 blank line required between summary line and description
    "ANN101", # Missing type annotation for `self` in method
    "ANN102", # Missing type annotation for `cls` in method
    "ANN204", # Missing return type annotation for `__init__`
    "ANN401", # Dynamically typed expressions (typing.Any) are disallowed in `run_coroutine`
    "SIM102", # Use a single `if` statement instead of nested `if` statements
    "PLC0415", # `import` should be at the top-level of a file
    "UP046", # Generic class uses `Generic` subclass instead of type parameters
    "SIM108"
]

fixable = [
    "F",  # pyflakes
    "I",  # isort
    "D",  # pydocstyle
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "PT", # flake8-pytest-style
    "UP", # pyupgrade
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
]

# Per-file ignores
[lint.per-file-ignores]
"*/versions/*.py" = ["D103", "W291"]
"*/models/*.py" = ["F821", "D101"]
"*test_*.py" = ["PLR0913"]
"conftest.py" = ["ANN001", "ANN202", "ANN201", "PT004", "E501", "F821"]
"*/fixtures/*.py" = ["ANN001", "ANN003", "ANN202", "ANN201", "PT004", "E501"]
"*fixtures*.py" = ["PLR0913", "E501", "SIM117"]

# Isort configuration
[lint.isort]
force-wrap-aliases = true
combine-as-imports = true

# Pydocstyle configuration
[lint.pydocstyle]
convention = "google"

# Flake8-bugbear configuration
[lint.flake8-bugbear]
extend-immutable-calls = [
    "fastapi.Depends",
    "fastapi.Query",
    "fastapi.Path",
    "fastapi.Header",
    "fastapi.Body"
]

# Pylint configuration
[lint.pylint]
max-returns = 12
max-args = 6
